body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.tabela-precos {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    width: 80%;
    margin: auto;
}

.plano {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plano h2 {
    color: #fff;
    background-color: #00aaff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.plano:nth-child(2) h2 {
    background-color: #6a00ff;
}

.plano:nth-child(3) h2 {
    background-color: #ff00aa;
}

.plano:nth-child(4) h2 {
    background-color: #ffaa00;
}

.preco {
    font-size: 24px;
    margin: 10px 0;
}

.preco span {
    font-size: 16px;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    flex-grow: 1;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.check {
    color: green;
    float: right;
}

.nao {
    color: red;
    float: right;
}

.botao-assinar {
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.plano:nth-child(2) .botao-assinar {
    background-color: #6a00ff;
}

.plano:nth-child(3) .botao-assinar {
    background-color: #ff00aa;
}

.plano:nth-child(4) .botao-assinar {
    background-color: #ffaa00;
}

.botao-assinar:hover {
    opacity: 0.9;
}

.assinatura {
    text-align: center;
    margin-top: 50px;
}

.assinatura h1 {
    font-size: 36px;
    color: #333;
}

.assinatura p {
    font-size: 20px;
    color: #555;
    margin: 20px 0;
}

.assinatura button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.assinatura button:hover {
    opacity: 0.9;
}