.imagens-carrossel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
}

.imagem-ativa {
    display: block;
}

.miniaturas img {
    width: auto;
    max-width: 15%;
    height: 60px;
    object-fit: cover;
    display: inline-block;
    cursor: pointer;
}

.imagem-ativa {
    display: block;
}

.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.botao-anterior,
.botao-proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
}

.botao-anterior {
    left: 0;
}

.botao-proximo {
    right: 0;
}